<script n:if="! Tracy\Debugger::$productionMode && $presenter->isAjax()">
	{? ob_start()}
	{? Tracy\Debugger::getBar()->render()}
	{if $tracy = ob_get_clean()}
		setTimeout(function(){
			$('#tracy-debug').remove();
			{var from = "window.addEventListener('load', function() {"}
			{var to = "debug.style.display = 'block';"}
			{substr($tracy, $start = strpos($tracy, $from) + strlen($from), strpos($tracy, $to) + strlen($to) - $start)|noescape}
		}, 666);
	{/if}
</script>
