{block content}
<blockquote class="blockquote">
	<p class="lead">
		{='web.error.message.' . $code . '.description'|translate|escape|nl2br|noescape}
	</p>
	<footer n:if="$code">{$code}</footer>
</blockquote>
