<!DOCTYPE html>
<html>
	<head n:block="head">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		{control Ytnuk\Web\Control:title}
		<link rel="stylesheet" type="text/css" href="{$basePath}/styles/index.css">
	</head>
	<body n:block="body">
		<span class="hidden" id="snippet--modal-open">0</span>
		<div class="modal fade" id="modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h1 class="modal-title" id="snippet-ytnukWebControl-ytnukMenuControl-header-"></h1>
					</header>
					<main class="modal-body" id="snippet--"></main>
					<footer class="modal-footer">
						{control Ytnuk\Web\Control-Ytnuk\Menu\Control:navbar}
					</footer>
				</div>
			</div>
		</div>
		{control Ytnuk\Web\Control-Ytnuk\Menu\Control:navbar}
		<div class="container">
			{control Ytnuk\Web\Control-Ytnuk\Menu\Control:breadcrumb}
			<header class="page-header">
				<h1>{control Ytnuk\Web\Control-Ytnuk\Menu\Control:header}</h1>
			</header>
			{control Ytnuk\Message\Control}
			<main n:inner-snippet>
				{include module}
				<a n:href="this" target="_blank">TODO: content from snippets to modal with history</a>
			</main>
		</div>
		<script type="text/javascript" src="{$basePath}/scripts/index.js"></script>
	</body>
</html>
