<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		{control menu:title}
		<link rel="stylesheet" type="text/css" href="{$basePath}/temp/application/styles/index.css">
	</head>
	<body>
		<header>
			{control menu-uid-$presenter->web:navbar}
		</header>
		<nav class="container">
			{control menu:breadcrumb}{control menu:header}
		</nav>
		<main class="container" n:inner-snippet="main">
			{control message}{include module}
		</main>
		<script type="text/javascript" src="{$basePath}/temp/application/scripts/index.js"></script>
	</body>
</html>
