<!DOCTYPE html>
<html>
	<head n:block="head">
		<base href="{$basePath}/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{block title}{control web:title snippet => title}{/block}
		<link rel="stylesheet" type="text/css" href="{='styles/index.css'|version}">
		<script type="text/javascript" src="{='scripts/index.js'|version}" async defer></script>
	</head>
	<body n:block="body">
		{control web:navbar}
		<div class="container">
			{control web-menu:breadcrumb}
			<h1>{control web-menu:title}</h1>
			{control message}
			<main n:snippet>
				{include module}
				<a n:href="this" target="_blank">TODO: content from snippets to modal with history</a>
			</main>
		</div>
		<span class="hidden" id="snippet--modal-open"></span>
		<div class="modal fade" id="modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h1 class="modal-title" n:attr="id=>$control[web][menu]->getSnippetId('title')"></h1>
					</header>
					<main class="modal-body" n:attr="id=>$control->getSnippetId()"></main>
					<footer class="modal-footer" n:attr="id=>$control[web][menu]->getSnippetId('navbar')"></footer>
				</div>
			</div>
		</div>
	</body>
</html>
